header h1,
footer h6 {
  color: white;
}

.App {

  min-height: 85vh;

}


.MuiButton-root {
  border-radius: 100px !important;
  padding: 16px 16px !important;
}

.Mui-selected {
  color: black !important;
}